/* --------------------------------------------------------------------------
                                    All
-----------------------------------------------------------------------------*/
body {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.2), transparent, white, transparent, rgba(255, 0, 0, 0.2));
    margin: 0;
}

header {
    background-color: rgb(230, 230, 230);
}
.parametre {
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
.parametre:hover {
    transform: scale(1.1);
    cursor: pointer;
    }
    .logo:hover {
        transform: scale(1.1);
        cursor: pointer;
        }
    .deconnexion {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-left: 150px;
    }
    .deconnexion:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
/* Couleur et épaisseur des traits de séparation */
    hr {
        border: solid 1px;
        border-color:hsla(0, 100%, 50%);
    }
/* Centrer les titres */
    h1, h2, h3 {
        text-align: center;
    }
/* Le soulignement des liens est actif seulement au survol de la souris*/
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
/* Centrer le texte du footer */       
    .footer {
        text-align: center;
    }
/* Center le bloc conteneur et définir ses dimensions */    
    .conteneurActeurs {
        margin: 0 auto;
        margin-top: 3em;
    }
/* Style du bloc conteneur de chaque acteurs */
    .acteur {
        background-color: rgb(230, 230, 230);
        border: solid 2px;
        border-radius: 5px;
        border-color:hsla(0, 100%, 50%);
    }

/* Dimension du logo des acteurs */    
    .logoActeurs {
        width: 95%;
        margin: 1em;
        border-radius: 5px;
    }
/* Dimensions, marge du texte centré */    
    p.descriptionActeur {
        text-align: left;
        margin: 0 auto;
        padding: 1em;
        width: 90%;
    }
    ul {
        text-align: left;
    }
/* Mettre le texte en gras */    
    .gras {
        font-weight: bold;
    }
    /* Taille, la marge et la couleur de fond des boutons */
    .button button {
        background-color: hsla(0, 100%, 50%, 0.3);
        border-radius: 5px;
        padding: 0.5em;
        margin: 0.3em;
        font-size: 0.5em;
        cursor: pointer;
        width: 20%;
        font-size: 1em;
    }
    .button {
        text-align: center;
    }
    .button a {
        text-decoration: none;
        color: black;
    }
/* Régler la marge des blocs de saisie de données, les arrondir */
    textarea {
        border: solid 2px;
        padding: 0.5em;
        border-radius: 5px;
        max-width: 98%;
        min-width: 98%;
        max-height: 200px;
        min-height: 100px;

	}
    .conteneurLike {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .likeButton {
        border:none;
        background-color: transparent;
        background-repeat:no-repeat;
        width: 40px;
    }
    .likeImage {
        width: 34px;
    }
    .likeButton:hover {
        transform: scale(1.1);
        cursor: pointer;
        }
    .dislikeButton {
        border:none;
        background-color: transparent;
        background-repeat:no-repeat;
        width: 40px;
    }
    .dislikeButton:hover {
        transform: scale(1.1);
        cursor: pointer;
        }
    .erreur {
        color: red;
        font-size: 1.5em;
        text-align: center;
    }
    #newcomment {
        display: none;
      }
      
      #newcomment:target {
        display: block;
      }
      a.newComment {
        text-decoration: none;
        color: black;
      }
      
      .newComment {
        border: 2px solid;
        background-color: hsla(0, 100%, 50%, 0.3);
        border-radius: 5px;
        padding: 0.5em;
        margin: 0.3em;
        font-size: 0.5em;
        cursor: pointer;
        font-size: 1em;
      }
      .conteneurNewComment {
        display: flex;
        justify-content: space-between;
      }
/* --------------------------------------------------------------------------
                                    Mobile
-----------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {

    .conteneurNewComment {
        display: block;
    }
    .divNewComment {
        margin-left: 0px;
    }
/* Centrer le texte du header */    
    .conteneurHeader {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
/* Dimension du logo */
.logo {
    width: 100px;
    height: 130px;
    margin-top: 20px;
}
/* Dimension du texte */    
.utilisateur {
    font-size: 1.2em;
    margin-right: 30px;
}
/* Dimensions du bloc conteneur */    
    .conteneurActeurs {
        width: 90%;
    }
/* Center le bloc conteneur et définir ses dimensions */    
    .conteneurActeurs {
        text-align: center;
    }
/* Dimension du logo des acteurs */    
    .logoActeurs {
        margin: 1em;
        width: 90%;
    }
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    textarea {
        border: solid 2px;
        padding: 0.5em;
        border-radius: 5px;
        width: 90%;
        height: 100px;
	}
}

/* --------------------------------------------------------------------------
                                    Tablette
-----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {

    .divNewComment {
        margin-left: 100px;
    }
/* Centrer le texte du header */    
    .conteneurHeader {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
/* Dimension du logo */    
.logo {
    width: 100px;
    height: 130px;
    margin-top: 20px;
}
/* Dimension du texte et marge haute pour centrer verticalement */     
.utilisateur {
    font-size: 1.5em;
    margin-right: 40px;
}
/* Dimensions du bloc conteneur */    
    .conteneurActeurs {
        width: 90%;
    }
/* Style du bloc conteneur de chaque acteurs */
    .acteur {
        display: flex;
        flex-direction: column;
    }
    .conteneurDescriptionBoutton {
        width: 95%;
        margin:1em
    }
/* Dimensions, marge du texte centré */    
    .descriptionActeur {
        text-align: justify;
    }
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* --------------------------------------------------------------------------
                            Ordinateur portable
-----------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {

/* Dimension du logo des acteurs */    
    .logoActeurs {
        margin: 3em;;
        text-align:center;
        width: 90%;
    }
    .conteneurDescriptionBoutton {
        width: 95%;
        margin:1em
    }
    
/* Dimensions, marge du texte centré */    
    .descriptionActeur {
        text-align: justify;
    }
    ul {
        text-align: justify;
        margin-left: 3em;
    }
    textarea {
        border: solid 2px;
        padding: 0.5em;
        border-radius: 5px;
        width: 99%;
        height: 100px;
	}
    .divNewComment {
        margin-left: 400px;
        margin-top: 20px;
      }
}
/* --------------------------------------------------------------------------
                            Ordinateur de bureau
-----------------------------------------------------------------------------*/
@media screen and (min-width: 1440px) {

    /* Dimension du logo */    
    .logo {
        width: 100px;
        height: 130px;
        margin-top: 20px;
    }
/* Dimension du texte et marge haute pour centrer verticalement */     
.utilisateur {
    font-size: 2em;
    margin-right: 70px;
}
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* Dimensions du bloc conteneur */    
    .conteneurActeurs {
        width: 50%;
    }
    h1, h2, h3 {
        font-size: 2em;
    }
    /* Dimension du logo des acteurs */    
    .logoActeurs {
        margin: 3em;;
        text-align: center;
        width: 90%;
    }
    .conteneurDescriptionBoutton {
        width: 95%;
    }
    /* Dimensions, marge du texte centré */    
    .descriptionActeur {
        text-align: justify;
    }
}
/* --------------------------------------------------------------------------
                                Grand écran
-----------------------------------------------------------------------------*/
@media screen and (min-width: 2560px) {
    /* Dimension du logo des acteurs */    
    .logoActeurs {
        margin: 3em 20em 3em;
        text-align:center;
        width: 70%;
    }
    .conteneurDescriptionBoutton {
        width: 50%;
        margin: 1em 0em 1em 35em;
    }
/* Dimensions, marge du texte centré */    
    .descriptionActeur {
        text-align: justify;
        margin: 0 auto;
        padding: 1em;
        width: 90%;
    }
}