/* Style pour la page d'inscription */

/* --------------------------------------------------------------------------
                                    Animation 
-----------------------------------------------------------------------------*/

/* Animation au survol des boutons */
button:hover {
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------
                                All
-----------------------------------------------------------------------------*/
body {
    margin: 0;
}
.parametre {
    width: 30px;
    height: 30px;
}
.parametre:hover {
    transform: scale(1.1);
    cursor: pointer;
    }
    .deconnexion {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-left: 150px;
    }
    .deconnexion:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
header {
    background-color: rgb(230, 230, 230);
}
/* Ombre du titre */    
h1 {
    font-size: 2em;
    text-shadow: 1px 1px 4px hsla(0, 100%, 50%, 0.5);
}
/* Placer le formulaire de connexion au centre */ 
form {
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 1.5em;
}
/* Taille, la marge et la couleur de fond des boutons */
button {
    background-color: hsla(0, 100%, 50%, 0.3);
    border-radius: 5px;
    padding: 0.3em;
    margin: 1em;
    font-size: 0.8em;
    cursor: pointer;
}
/* Régler la marge des blocs de saisie de données, les arrondir */
input, select {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: solid 2px;
}
.erreur {
    color: red;
    font-size: 0,5em;
}
/* Positionner en fond le logo */
.conteneurImage {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Opacité du logo */    
.logoOpacity {
    opacity: 0.1;
}
/* Centrer le texte de la qestion de sécurité */
select {
    text-align: center; 
}
/* Centrer le texte du footer */       
.footer {
    text-align: center;
}
textarea {
    border: solid 2px;
    padding: 0.5em;
    border-radius: 5px;
    width: 20%;
    height: 100px;
}
/* --------------------------------------------------------------------------
                                Mobile
-----------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {

/* Centrer le texte du header */    
.conteneurHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
/* Dimension du logo */
.logo {
    width: 100px;
    height: 130px;
    margin-top: 20px;
}
/* Dimension du texte */    
.utilisateur {
    font-size: 1.2em;
    margin-right: 30px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Dimension et position du formulaire */
.conteneurImage {
    height: 500px;
    margin-top: 20%;
}
/* Dimension du logo en fond */    
.logoOpacity {
    width: 100%;
}
/* Dimension et marge des blocs de saisie de données */
input {
    width: 50%;
}
/* Dimension du bloc de question */
select {
    width: 53%;
}
/* Dimension, marge et couleur de fond des boutons */
button {
    width:30%;
}

}

/* --------------------------------------------------------------------------
                                Tablette
-----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {

/* Centrer le texte du header */    
.conteneurHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
/* Dimension du logo */    
.logo {
    width: 100px;
    height: 130px;
    margin-top: 20px;
}
/* Dimension du texte et marge haute pour centrer verticalement */     
.utilisateur {
    font-size: 1.5em;
    margin-right: 40px;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Dimension du formulaire */
.conteneurImage {
    height: 650px;
}
/* Dimension du logo en fond */    
.logoOpacity {
    width: 60%;
}
/* Dimension et marge des blocs de saisie de données */
input {
    width: 30%;
    margin: 1em;
}
/* Dimension, marge et couleur de fond des boutons */
button {
    width:15%;
}
/* Dimension du bloc de question */
select {
    width: 32%;
}

}

/* --------------------------------------------------------------------------
                        Ordinateur de bureau
-----------------------------------------------------------------------------*/
@media screen and (min-width: 1440px) {

/* Dimension du formulaire */
.conteneurImage {
    height: 850px;
}
.logo {
    width: 100px;
    height: 130px;
    margin-top: 20px;
}
/* Dimension du logo en fond */    
.logoOpacity {
    width: 45%;
}
.utilisateur {
    font-size: 2em;
    margin-right: 70px;
}
/* Dimension et marge des blocs de saisie de données */
input {
    width: 20%;
    margin: 1em;
}
/* Dimension, marge et couleur de fond des boutons */
button {
    width:11%;
}
/* Dimension du bloc de question */
select {
    width: 21%;
}

}
