/* Style pour la page d'inscription */

/* --------------------------------------------------------------------------
                                All
-----------------------------------------------------------------------------*/

/* Ombre du titre */    
h1 {
    font-size: 2em;
    text-shadow: 1px 1px 4px hsla(0, 100%, 50%, 0.5);
}
/* Placer le formulaire de connexion au centre */ 
form {
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 1.5em;
}
/* Taille, la marge et la couleur de fond des boutons */
button {
    background-color: hsla(0, 100%, 50%, 0.3);
    border-radius: 5px;
    padding: 0.3em;
    margin: 1em;
    font-size: 0.8em;
    cursor: pointer;
}
/* Régler la marge des blocs de saisie de données, les arrondir */
input, select {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
}
/* Positionner en fond le logo */
.conteneurImage {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Opacité du logo */    
.logoOpacity {
    opacity: 0.05;
}
/* Centrer le texte de la qestion de sécurité */
select {
    text-align: center;
}
/* --------------------------------------------------------------------------
                                Mobile
-----------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {

/* Dimension et position du formulaire */
.conteneurImage {
    height: 500px;
    margin-top: 45%;
}
/* Dimension du logo en fond */    
.logoOpacity {
    width: 100%;
}
/* Dimension et marge des blocs de saisie de données */
input {
    width: 50%;
}
/* Dimension du bloc de question */
select {
    width: 53%;
}
/* Dimension, marge et couleur de fond des boutons */
button {
    width:30%;
}
}

/* --------------------------------------------------------------------------
                                Tablette
-----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {

/* Dimension du formulaire */
.conteneurImage {
    height: 800px;
}
/* Dimension du logo en fond */    
.logoOpacity {
    width: 60%;
}
/* Dimension et marge des blocs de saisie de données */
input {
    width: 30%;
    margin: 1em;
}
/* Dimension, marge et couleur de fond des boutons */
button {
    width:15%;
}
/* Dimension du bloc de question */
select {
    width: 32%;
}
}

/* --------------------------------------------------------------------------
                        Ordinateur de bureau
-----------------------------------------------------------------------------*/
@media screen and (min-width: 1440px) {

/* Dimension du formulaire */
.conteneurImage {
    height: 850px;
}
/* Dimension du logo en fond */    
.logoOpacity {
    width: 45%;
}
/* Dimension et marge des blocs de saisie de données */
input {
    width: 20%;
    margin: 1em;
}
/* Dimension, marge et couleur de fond des boutons */
button {
    width:11%;
}
/* Dimension du bloc de question */
select {
    width: 21%;
}
}
